.MovieSearch {
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    background-color: #15151A;
    height: max-content;

    .MovieWrapper {
        width: 90%;

        .PopularMovies {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .TitleWrapper {
            padding-bottom: 20px;

            & a {
                transition: all .5s;
            }

            & a:hover {
                color: #EA4B33;
            }
        }
    }
}