.SlideItemTVShows {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 10px;
    width: 220px;
    min-height: 300px;
    box-sizing: border-box;

    & a {
        border-radius: 10px;
        transition: all .5s;
        outline: none;
    }

    & a:hover {
        transform: scale(1.1);
    }

    .LinkImgPoster {
        position: relative;

        .NoImgPoster {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            min-height: 330px;
            border-radius: 10px;
            box-sizing: border-box;
            background-color: #999;
        }

        .Progressbar {
            position: absolute;
            bottom: -25px;
            right: 10px;
        }
    }

    .ImgPoster {
        height: 330px;
        width: 220px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .ItemContent {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 20px 10px 10px;
    
        & a:hover {
            color: #EA4B33;
        }
    }
}