.PopularMoviesPage {
    display: flex;
    justify-content: center;
    padding: 50px 30px;
    background-color: #15151A;
    height: max-content;

    .MovieWrapper {
        width: 92%;

        .PopularMovies {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .Loading {
                display: flex;
                justify-content: center;
            }

            .TitleWrapper {
                padding-bottom: 20px;
    
                & a {
                    transition: all .5s;
                }
    
                & a:hover {
                    color: #EA4B33;
                }
            }
    
            .SortAndFilterWrapper {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 20px 0 30px 0;
    
                .SelectSort {
                    padding: 5px;
                    outline: none;
                }
            }

            .Pagination {
                display: flex;
                justify-content: center;
                flex-direction: row;
                box-sizing: border-box;

                .PaginationItem {
                    padding: 10px;
                    border: 1px solid #15151A;
                    background-color: #333;
                    box-sizing: border-box;
                }

                .PaginationItem:hover {
                    font-weight: 700;
                    border: 1px solid #15151A;
                    background-color: #EA4B33;
                }

                .PaginationItem.active {
                    font-weight: 700;
                    background-color: #EA4B33;
                }
            }
        }        
    }
}