.NavBar {
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    height: 85px;
    box-sizing: border-box;

    .Logo a {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0 20px;
      height: 45px;
      border-bottom: 2px solid rgba(21, 21, 26, 0%);
      box-sizing: border-box;
    }
    
    .Logo a:hover {
      opacity: 70%;
      border-bottom: 2px solid #EA4B33;
      transition: all 0.5s;
    }

    .Navigation ul {
      display: flex;
      justify-content: space-around;
      gap: 40px;
      list-style-type: none;

      & li {
        height: 45px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
      }
    }

    .Navigation ul li a,
    .LogIn a,
    .Registration a,
    .SearchContent a {
      display: flex;
      align-items: center;
      height: 45px;
      border-bottom: 2px solid rgba(21, 21, 26, 0%);
      box-sizing: border-box;
    }
    
    .Navigation ul li a:hover,
    .LogIn a:hover,
    .Registration a:hover,
    .SearchContent a:hover {
      opacity: 70%;
      border-bottom: 2px solid #EA4B33;
      transition: all 0.5s;
    }

    .LogInWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .LogInContent,
      .LogInContent span,
      .RegistrationContent,
      .RegistrationContent span {
        height: 24px;
        display: flex;
        align-items: center;
      }
    }
  }
}

